---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="でんでんの飼育小屋">
  <h1>ABOUT</h1>
  
  <body>

    <img src="/images/dendenicon.png" alt="でんでんアイコン" width={400} height={400} />

  </body>

</MainLayout>